[submodule "services/connection-manager"]
	path = services/connection-manager
	url = git@github.com:revarewerd/connection-manager.git
	branch = main
[submodule "services/device-manager"]
	path = services/device-manager
	url = git@github.com:revarewerd/device-manager.git
[submodule "services/history-writer"]
	path = services/history-writer
	url = git@github.com:revarewerd/history-writer.git
[submodule "services/web-frontend"]
	path = services/web-frontend
	url = git@github.com:revarewerd/web-frontend.git
[submodule "services/web-billing"]
	path = services/web-billing
	url = git@github.com:revarewerd/web-billing.git
[submodule "services/API-Gateway"]
	path = services/API-Gateway
	url = git@github.com:revarewerd/api-gateway.git
